.banner {
  display: flex;
  height: 56vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner:before {
  content: "";
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  left: 0;
  height: 56vh;
  width: 100%;
}
.banner > * {
  z-index: 2;
}
