.MuiSelect-root {
  color: white; /* 선택된 텍스트 색상 */
}
.MuiSelect-button {
  color: white;
}
.MuiFormControl-root {
  color: white;
}
.MuiSelect-icon {
  color: white; /* 드롭다운 아이콘 색상 */
}

.MuiOutlinedInput-notchedOutline {
  border-color: white; /* 선택박스 테두리 색상 */
}

.MuiMenuItem-root {
  color: white; /* 드롭다운 메뉴 아이템 색상 */
  background-color: rgba(0, 0, 0, 0.7); /* 메뉴 배경 색상 */
}

.MuiMenuItem-root:hover {
  background-color: rgba(255, 255, 255, 0.2); /* 메뉴 아이템 호버 색상 */
}

.MuiInputLabel-root {
  color: white; /* 레이블 텍스트 색상 */
}
